@font-face {
    font-family: 'Geometria Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Geometria-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Geometria Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Geometria-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: medium;
    src: url('../fonts/Roboto-Medium.woff') format('woff');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}
// переменные
$main-color-text: #FFFFFF;
$secondary-color-text: #FC2070;

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Geometria Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    color: $main-color-text;
    overflow-x:hidden; 

}

a {
    text-decoration: none;
    color: $main-color-text;
}
li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
    //position: relative;
    //border: 1px solid red;
}
p, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}
.btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}
.logo {
   display: flex;
    justify-content: center;
    // position: absolute;
    // left: calc(50% - 60px);
   min-width: 115px;
    margin-right: 25%;
    
}
.burger {
    display: flex;
    min-width: 24px;
    min-height: 24px;
}
.steps {
    margin-right: 78px;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: .07rem;
}
.arrow {
    position: absolute;
    bottom: 48px;
    left: calc(50% - 8.5px);
    margin: auto;
    width: 17px;
    height: 52px;
    animation: arrow 2s infinite ease-in-out;
}
.arrow img {
    width: 100%;
    height: 100%;
}
@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}
.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 48px;
    right: 48px;
    &__item {
        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }
    &__item:hover {
        transform: scale(1.1);
    }
    
}
.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 30;
}


.nav {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 710px;
    width: 100%;

    background-color: #000000;
    height: 100%;
    padding: 54px 161px 54px 60px;
    animation: menuShow 2s ease;
    &__link {
        font-size: 20px;
        line-height: 1.25;
        &--active {
            color: $secondary-color-text;
        }
    }
}


@keyframes menuShow {
    0% {
        transform: translateX(710px);
    }
    100% {
        transform: translateX(0px);
    }
}




.list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.close {
    z-index: 31;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    
}
.no-scroll {
    overflow: hidden;
}


// media
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;

@media (max-width: $tablet-width) {
    .container {
        padding: 0 10px;
    }
}